<p id="notice"><%= notice %></p>

<h1>Ghdbcats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ghdbcats.each do |ghdbcat| %>
      <tr>
        <td><%= ghdbcat.name %></td>
        <td><%= link_to 'Show', ghdbcat %></td>
        <td><%= link_to 'Edit', edit_ghdbcat_path(ghdbcat) %></td>
        <td><%= link_to 'Destroy', ghdbcat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ghdbcat', new_ghdbcat_path %>
