<%= form_with(model: ghdb, local: true) do |form| %>
  <% if ghdb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ghdb.errors.count, "error") %> prohibited this ghdb from being saved:</h2>

      <ul>
        <% ghdb.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ghdbcat_id %>
<%= form.select :ghdbcat_id, Ghdbcat.all.collect{|x| [x.name, x.id]} %>
  </div>

  <div class="field">
    <%= form.label :author_id %>
<%= form.select :author_id, Author.all.collect{|x| [x.name, x.id]} %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :search %>
    <%= form.text_area :search %>
  </div>

  <div class="field">
    <%= form.label :file,ame %>
    <%= form.file_field :filename %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
