<p id="notice"><%= notice %></p>

<h1>Ghdbs</h1>

<table>
  <thead>
    <tr>
      <th>Ghdi</th>
      <th>Author</th>
      <th>Description</th>
      <th>Search</th>
      <th>Content</th>
      <th>Ghdbcat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ghdbs.each do |ghdb| %>
      <tr>
        <td><%= ghdb.ghdi_id %></td>
        <td><%= ghdb.author_id %></td>
        <td><%= ghdb.description %></td>
        <td><%= ghdb.search %></td>
        <td><%= ghdb.content %></td>
        <td><%= ghdb.ghdbcat_id %></td>
        <td><%= link_to 'Show', ghdb %></td>
        <td><%= link_to 'Edit', edit_ghdb_path(ghdb) %></td>
        <td><%= link_to 'Destroy', ghdb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ghdb', new_ghdb_path %>
