<p id="notice"><%= notice %></p>
<h1>
  <%= @ghdb.search %>
</h1>
<table>
<tr>
<td>
<span>GHDB-ID:</span><%=@ghdb.id%>
</td>
<td>
<span>Author:</span><%=@ghdb.author.name%>
</td>
</tr>
<tr>
<td rowspan="2">
<span>Published:</span><%=@ghdb.created_at.to_date%>
</td>
<td>
</td>
</tr>
</table>
<table>
<tr>
<td rowspan="3">
<span>Google Dork Description:</span><%=@ghdb.search%>
</td>
<td>
</td>
</tr>
<tr>
<td rowspan="3">
<span>Google Search:</span><%=link_to @ghdb.search, "https://www.google.com/search?q="+@ghdb.search%>
</td>
<td>
</td>
</tr>
</table>
<div id="myscript">
#Google Dork:<%=@ghdb.search%>
<br>
#<%=@ghdb.ghdbcat.name%>
<br>
#Date: <%=@ghdb.created_at.to_date%>
<br>
#Exploit <%=@ghdb.author.name%>
</div>




<%= link_to 'Edit', edit_ghdb_path(@ghdb) %> |
<%= link_to 'Back', ghdbs_path %>
