<p id="notice"><%= notice %></p>

<h1>Papers</h1>

<table>
  <thead>
    <tr>
      <th>Date Added</th>
      <th>D</th>
      <th>Title</th>
      <th>Platform</th>
      <th>Language</th>
      <th>Author</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.created_at.to_date %></td>
        <td><a href="/download1/<%=paper.id%>">&#8595;</a></td>
        <td><%= link_to paper.title, "/doc/#{paper.id}" %></td>
        <td><%= paper.platform.name %></td>
        <td><%= paper.language.name %></td>
        <td><%= paper.author.name %></td>

        <td><%= link_to 'Show', paper %></td>
        <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
        <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paper', new_paper_path %>
